# Server Port
PORT=5000

# MongoDB Connection String (Local or MongoDB Atlas)
MONGO_URI=mongodb://localhost:27017/fitcraft

# Path to your downloaded Firebase Admin SDK Service Account JSON file
# Make sure to use double quotes if there are spaces in the path
GOOGLE_APPLICATION_CREDENTIALS="C:\path\to\your\downloaded-firebase-adminsdk.json"
